{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "jquery": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module"
    },
    "globals": {},
    "plugins": [],
    "rules": {
        "indent": ["error", 4],                                     // 统一代码缩进方式
        "no-mixed-spaces-and-tabs": 2,                              // 禁止空格和 tab 的混合缩进
        "no-extra-semi": 2,                                         // 禁止不必要的分号
        "semi-spacing": 2,                                          // 规定分号前后不加空格
        "no-spaced-func": 2,                                        // 函数调用时，函数名和圆括号之间不能有空格
        "key-spacing": [2, {
            "beforeColon": false,
            "afterColon": true
        }],       // 该规则规定了在对象字面量语法中key和value之间的空白，冒号前不要留空格，冒号后面需留一个空格
        "keyword-spacing": [2, {
            "before": true,
            "after": true,
            "overrides": {
                "if": {"after": true},
                "for": {"after": true},
                "while": {"after": true},
                "catch": {"after": true}
            }
        }],                                                         // 规定了keyword前后是否需要留一个空格
        "object-curly-spacing": 0,  // 规定对象字面量中大括号内允许加空格，也适用于ES6中的结构赋值和模块import和export
        "space-before-blocks": 2,                                   // 代码块前需要加空格
        "space-infix-ops": 2,                                       // 要求操作符周围有空格
        "space-unary-ops": [2, {
            "words": true,                                          // delete,new加空格 
            "nonwords": false                                       // i++不加空格 
        }],
        "comma-spacing": [2, {"before": false, "after": true}],     // 规定了逗号前后的空白，默认配置规定逗号前面没有空白，而逗号后面需要留空白
        "comma-style": 2,                                           // 逗号放在行末
        "eol-last": 2,                                              // 文件最后强制换行，仅需留一空行
        "no-multiple-empty-lines": 2,                               // 禁止出现多行空行
        "quotes": [2, "single"],                                    // 单引号
        "camelcase": 1,                                             // 使用驼峰命名
        "valid-typeof": 2,                                          // 确保typeof的结果和有效的字符串比较
        "no-undefined": 0,                                          // 禁止把undefined作为变量名
        "no-debugger": 2,                                           // 禁止使用debugger
        "no-dupe-args": 2,                                          // 禁止在函数中有重复参数
        "no-dupe-keys": 2,                                          // 对象中不允许有重复的属性
        "no-duplicate-case": 0,                                     // 禁止重复的case条件
        "use-isnan": 2,                                             // 禁止直接与NaN比较
    }
}